@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    zoom: 1;
    /* user-select: none; */
}

:root {
    --yellow: #F0FF42;
    --yellowWhite: #f8fadc;
    --greenLight: #82CD47;
    --greenWhite: #eefbe4;
    --greenAccent: #54B435;
    --green: #379237;
    --card: white;
    --bgColor: rgb(248, 250, 252);
    --text: #424242;
    --title: black;
    --error: #d32f2f;
    --highlight: white;
}

body {
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: auto;
    background-color: var(--bgColor);
    overflow-x: hidden;
    column-gap: 1rem;
    position: relative;
}

img {
    transition: transform .2s ease;
}

img:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    right: 0;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
    height: 100vh;
    min-height: 100vh;
    z-index: 2000;
}

.side-menu .navbar {
    top: 5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    row-gap: 3rem;
    /* padding: 4rem 2rem; */
    box-shadow: none;
}

#nav-header {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.side-menu #nav-icon {
    display: none;
}

.side-menu .navbar .navbar-actions {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

}

.side-menu .navbar .logo-named {
    display: none;
}


section,
.duo {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}

section {
    margin-top: 2rem;
    position: relative;
}


#welcome {
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
}

.colored-text {
    color: var(--green);
}

a {
    text-decoration: none;
}

p,
a {
    color: var(--text);
}

p span,
p a {
    color: var(--green);
    cursor: pointer;
}

.p-error {
    color: var(--error);
}

.p-success {
    color: var(--green);
}

.text-close {
    display: flex;
    align-items: flex-start;
}

.flex {
    display: flex;
    flex-direction: row;
}

.column-gap-middle {
    column-gap: .8rem;
}

.logo {
    width: 6rem;
    min-width: 6rem;
    max-width: 6rem;
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    object-fit: contain;
}

.logo-named {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    width: fit-content;
    align-items: center;
    white-space: nowrap;
}

.logo-named img {
    height: 3rem;
    max-height: 3rem;
}

.logoName {
    color: var(--green);
}

.action-icon {
    font-size: larger;
    color: var(--green);
    cursor: pointer;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--card);
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    row-gap: .7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    z-index: 1200;
    user-select: none;
}

.navbar-actions {
    column-gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: flex-end;
}

.navbar-actions a,
.close {
    cursor: pointer;
    width: fit-content;
}

.navbar-actions a:hover,
.close:hover {
    color: var(--title);
    font-weight: 600;
}

.navbar-contact {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#nav-icon {
    display: none;
}

.cover,
.cover2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: flex;
}

.cover2 {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.curtain,
.curtain2 {
    width: 100%;
    /* background-image: url(https://www.burundibrewery.com/wp-content/uploads/2022/07/Image-visite-president-Bbrew2.jpg); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curtain2 {
    background: linear-gradient(90deg, var(--title) 0%, var(--text) 40%, var(--green) 100%);
    position: absolute;
}

.cover-body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1.5rem;
}

.since {
    align-items: center;
}

.range {
    position: relative;
    width: clamp(2.5rem, 1.465rem + 5.52vw, 5rem);
    height: .5rem;
    min-height: .5rem;
    background-color: var(--highlight);
}

.range-round {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    border-radius: 100%;
    position: absolute;
    background-color: var(--yellow);
    right: -.5rem;
    top: -0.25rem;
    bottom: 0;
}


.cover-body>p,
.since>p {
    color: var(--highlight);
}


.large-title {
    font-size: clamp(2.3rem, 1.595rem + 2.76vw, 3rem);
}

.headline1 {
    font-size: clamp(1.5rem, 1rem + 1.8vw, 2.5rem);
}

.large-subtitle {
    font-size: clamp(1rem, 0.5856rem + 2.21vw, 2rem);
}

.p-medium {
    font-size: clamp(1rem, 1.2rem, 2rem);
}

.rounded-card-p,
.r-c-yellow {
    background-color: var(--greenAccent);
    width: fit-content;
    padding: .5rem 1rem;
    color: var(--highlight);
    border-radius: .2rem;
}

.cover-title {
    font-size: clamp(2.3rem, 1.595rem + 3.76vw, 4rem);
    color: var(--highlight);
    font-weight: 900;
}

.cover-subtitle {
    font-size: clamp(1rem, 0.5856rem + 2.21vw, 2rem);
    font-weight: lighter;
    padding-right: 2rem;
}


.duo {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: fit-content;
    min-height: fit-content;
    align-items: center;
}

.duo-left,
.duo-right,
.presentor-media {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.duo-right {
    height: 100%;
    min-height: 100%;
}

.section-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: .8rem;
}

#products {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
}

.single-product {
    width: 100%;
    min-width: 100%;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    transform: scale(1);
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    row-gap: 1rem;
}

.product-image {
    width: 30%;
    height: 100%;
}


.product-image img {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: contain;
}

#partners {
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 4rem;
    padding: 2rem;
}

#partners img {
    width: 10rem;
    height: 5rem;
    max-height: 5rem;
    object-fit: contain;
    /* padding: 1rem 1.5rem; */
}

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: auto;
    margin-top: 2rem;
}

.footer-header {
    background-color: var(--card);
    width: 100%;
    height: 100%;
    padding: 5rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    align-items: flex-start;
}

.footer-bottom {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    border-top: .1rem solid var(--greenWhite);
}

.footer-bottom p {
    text-align: center;
    padding: 0rem 3rem;
}

.foo-block {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.foo-block a {
    cursor: pointer;
    width: fit-content;
}

.foo-block a:hover {
    font-weight: 600;
    color: var(--green);
}

.social-media {
    display: flex;
    column-gap: 1rem;
}

.social-media>a {
    cursor: pointer;
}

.social-media>a>i {
    font-size: x-large;
    cursor: pointer;
    color: var(--textColor);
}

textarea {
    background-color: var(--cardColor);
    border: none;
    width: 100%;
    height: 10rem;
    padding: 10px;
    margin: 4px 0px;
    border: 1px solid var(--cardColor);
    box-sizing: border-box;
    color: var(--textColor);
    outline: none;
    border-radius: 5px;
    resize: none;
}

input,
select,
input:focus,
button,
textarea {
    background-color: var(--cardColor);
    outline: none;
    border: none;
    width: 100%;
    height: 3.2rem;
    padding: .7rem;
    margin: .5rem 0px;
    box-sizing: border-box;
    color: var(--textColor);
    border-radius: 5px;
    border: .1rem solid var(--text);
}

input:focus,
textarea:focus {
    border: .1rem solid var(--green);
}

textarea {
    height: 10rem;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    font-size: medium;
    text-align: start;
    margin: 0px;
    color: var(--text);
}

select,
select:focus {
    color: var(--subtitleColor);
}

button {
    background: var(--green);
    width: fit-content;
    color: var(--highlight);
    cursor: pointer;
    border: none;
    padding: 0rem 1rem;
}

.loading-button {
    background-color: var(--text);
    cursor: initial;
}

.form-row-s-button {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.foo-block img {
    height: 6rem;
}


.media {
    height: fit-content;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 1rem 0rem 1rem 1rem;
}

.media::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
}

.single-media,
.presentor-media {
    height: 100%;
    width: clamp(6rem, 30rem, 100%);
    min-width: clamp(6rem, 30rem, 100%);
    height: clamp(4rem, 20rem, 30rem);
    min-height: clamp(4rem, 20rem, 30rem);
    background-color: var(--card);
    margin-right: 1rem;
    overflow: hidden;
    border-radius: .4rem;
    object-fit: cover;
}

.presentor-media {
    row-gap: 1.5rem;
}


.duo-left {
    background-color: var(--greenWhite);
    row-gap: 1.5rem;
    overflow: auto;
    min-height: fit-content;
    max-height: fit-content;
    height: fit-content;
    padding: 8rem 3rem;
    border-bottom-left-radius: .8rem;
    border-top-left-radius: .8rem;
}

.duo-yellow {
    background-color: var(--yellowWhite);
}


.galley {
    height: 100%;
    width: 100%;
    /* background-color: var(--card); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 20rem;
    max-height: 20rem;
}

/* .galley img {
    height: 20rem;
    max-height: 20rem;
    object-fit: contain;
    background-color: var(--card);
} */

.gallery-actions {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.gallery-actions i,
.products-displayer i {
    font-size: larger;
    height: 3rem;
    min-height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.products-displayer {
    align-items: flex-start;
}

.gallery-actions i:hover,
.products-displayer i:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--card);
}

.gallery-acions-arrows {
    display: flex;
    column-gap: 1rem;
}

#contact-us {
    background-color: var(--bgColor);
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: auto;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    background-color: var(--bgColor);
    padding: 4rem 3rem;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.flex-row {
    display: flex;
}


.single-contact {
    padding: .5rem 0rem;
    width: fit-content;
    border-radius: .4rem;
}

.single-contact i {
    width: 1.3rem;
    max-width: 1.3rem;
    min-width: 1.3rem;
    font-size: larger;
    color: var(--greenLight);
}

.contact-form {
    padding: 2rem;
    background-color: var(--greenWhite);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.eoi-form {
    width: 35rem;
    height: 100%;
    overflow: auto;
    row-gap: 1rem;
}

.eoi-form button {
    height: 3rem;
    min-height: 3rem;
}

.eoi-form-parent {
    height: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 4rem 5rem;
}

.eoi-form-parent .duo-left,
.eoi-form-parent .contact-info {
    height: 100%;
    min-height: 100%;
    overflow: auto;
    border-radius: 0;
}

.input-labeled {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.input-labeled label {
    font-size: medium;
    color: var(--text);
}

.contact-form button {
    font-weight: bold;
    width: 100%;
    font-size: medium;
}

#products {
    display: flex;
    flex-direction: column;
    overflow: initial;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    user-select: none;
}

.products-displayer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: var(--card);
    align-items: center;
    overflow: hidden;
    padding: 5rem 3rem;
    row-gap: 1.5rem;
}

.products-displayer-details {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 3.5rem;
    height: fit-content;
}

.products-displayer-details img {
    height: 15rem;
    max-height: 15rem;
    min-width: 18rem;
    width: 18rem;
    max-width: 18rem;
    object-fit: contain;
}

.products-displayer-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    padding: 0rem 1.5rem;
}

.l-indicator {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    width: fit-content;
}

.single-l {
    width: 1rem;
    height: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    background-color: var(--bgColor);
    border-radius: 100%;
    cursor: pointer;
    border: .1rem solid var(--greenLight);
}

.single-l:hover {
    background-color: var(--yellowWhite);
}

.single-l-selected {
    background-color: var(--green);
}

.colored {
    color: var(--green);
}

.large-paragraph {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.job-displayer {
    padding: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 100%;
}

.staff-members-displayer {
    padding: 0 2rem;
}

#staff {
    padding: 4rem 2rem;
}

.jobs,
.staff-members {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-gap: 3rem;
    align-items: flex-start;
}

.staff-members {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 3.5rem;
}

.bold {
    font-weight: bold;
}

.single-job {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.job-header {
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.job-header button {
    height: 2.5rem;
    border-radius: 0;
}

.modal-curtain {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2500;
    background-color: rgba(0, 0, 0, 0.50);
    overflow: hidden;
}

.application-form {
    width: 30rem;
    height: auto;
    max-height: 80rem;
    padding: 3rem;
    background-color: var(--card);
    row-gap: 1rem;
    overflow: auto;
}

.application-form-header {
    column-gap: 2rem;
    align-items: flex-start;
    justify-content: space-between;
}

.single-member {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    align-items: center;
}

.single-member img {
    height: 10rem;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
    text-align: center;
}

.single-member-info {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
    align-items: center;
    text-align: center;
}

.p-contact {
    font-size: small;
}

.gallery-holder {
    user-select: none;
    row-gap: 1rem;
}

.caroussel002 {
    width: 100%;
    height: 100%;
    /* min-height: 100%;
    min-width: 100%; */
    border-radius: .5rem;
    overflow: hidden;
    /* border: .1rem solid var(--dividerColor); */
    display: flex;
    flex-direction: column;
    grid-gap: .5rem;
    user-select: none;
}

.caroussel002_preview {
    width: 100%;
    height: 100%;
    background-color: var(--cardColor);
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.caroussel002_preview:hover .caroussel002_preview_actions {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    grid-gap: .5rem;
    right: 0;
    padding: .5rem;
}

.caroussel002_preview_loader {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.50);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.caroussel002_preview_actions {
    display: none;
}


.caroussel002_preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caroussel002_items {
    display: flex;
    /* padding-left: 4rem; */
    height: fit-content;
    padding: 1rem 0;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
}

.caroussel002_preview_actions_button {
    height: 2.5rem;
    min-height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--green);
    z-index: 1500;
}

.caroussel002_preview_actions_button i {
    color: white;
}

.caroussel002_items_icons {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--card);
    height: 2.5rem;
    min-height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    position: sticky;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: .5rem;
    margin-right: .5rem;
}

.caroussel002_items_icons_left {
    left: .5rem;
}

.caroussel002_items_icons_right {
    right: .5rem;
}


.caroussel002_items::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
}


.add_files_card {
    background-color: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: .2rem;
}

.add_files_card p {
    font-size: small;
}

.onpr_blog_home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
}

.empty_list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty_list img {
    height: 5rem;
    width: 5rem;
}

.onpr_blog_home_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* row-gap: 1rem; */
}

.articles-displayer,
.more-articles-displayer {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: auto;
    column-gap: 1rem;
    row-gap: .3rem;
}


.articles_displayer_shimmer {
    overflow: hidden;
}

/* .articles-displayer div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
} */

/* .articles-displayer div:nth-child(5) {
    grid-column: 3;
    grid-row: 2/4;
} */

.categories_displayer {
    width: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    background-color: var(--bgColor);
}

.categories_displayer_list_category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.categories_displayer_category {
    padding: .3rem 1rem;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    height: fit-content;

}

#categories_displayer_category_selected {
    background-color: var(--green);
}

.categories_displayer_category:hover {
    background-color: var(--yellowWhite);
    color: var(--green);
}

#categories_displayer_category_selected:hover {
    background-color: var(--green);
    color: var(--card);
    cursor: inherit;
}

.categories_displayer_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    border: none;
    text-align: center;
}

.categories_displayer_search_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.categories_displayer_search_form input {
    width: 40%;
    border-radius: 1.2rem;
}

.categories_displayer_search_form button {
    width: auto;
    border-radius: 1.2rem;
    background-color: var(--green);
    color: white;
    font-weight: 800;
    padding: 0rem 1rem;
    cursor: pointer;
}

.ct_displayer {
    width: 100%;
    padding: 3rem 20%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.ct_displayer div {
    width: 100%;
    height: 2rem;
}

.ct_displayer_category {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.row-gap-middle {
    row-gap: 2rem;
}

.navbar-actions a {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: center;
    white-space: nowrap;
}

.contextual-arrow,
.product-list {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contextual-menu {
    top: 1.8rem;
    padding: 1rem;
    background-color: var(--card);
    position: absolute;
    width: 100%;
    min-width: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.contextual-arrow:hover .contextual-menu,
.product-list:hover .contextual-menu {
    transform: scaleY(1);
}



@media screen and (max-width : 1250px) {


    .navbar-actions {
        display: none;
    }

    #nav-icon {
        display: block;
    }

    .side-menu .navbar .navbar-actions {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .eoi-form-parent .duo-left,
    .eoi-form-parent .contact-info {
        display: none;
    }

    .eoi-form-parent {
        padding: 3rem 2rem;
    }

    .eoi-form {
        height: fit-content;
        max-height: fit-content;
        padding: 4rem 2rem;
    }

    .modal-curtain {
        align-items: center;
        justify-content: center;
    }

    .duo {
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 700px) {
    .side-menu {
        width: 20rem;
    }

    .staff-members-displayer {
        padding: 2rem 2rem;
        align-items: center;
    }
}

@media screen and (max-width : 920px) {



    .duo,
    #contact-us {
        display: flex;
        flex-direction: column;
    }

    .duo-left,
    .duo-right,
    .presentor-media {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .duo-right {
        padding: 1rem;
    }

    .contact-form {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .navbar {
        padding: .5rem 1.5rem;
    }

    #products {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .products-displayer {
        overflow: auto;
        width: 100%;
        padding: 3rem 0rem;
    }

    .products-displayer-details {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        min-height: fit-content;
        justify-content: space-around;
        row-gap: 2rem;
    }

    .products-displayer-details p {
        text-align: center;
    }

    .logo-named img {
        height: 1.5rem;
        max-height: 1.5rem;
    }

    .products-displayer-details {
        align-items: center;
    }

    .products-displayer-details div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

#slide-from {
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
}


/* Slideshow container */
.slideshow-container,
.slideshow-container-gallery {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
    min-height: 100%;

}

.slideshow-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
}

.mySlides img {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-gallery img {
    min-height: auto;
    height: 10rem;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--green);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 120;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--yellowWhite);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.p-centered {
    text-align: center;
}

.gallery-image-space {
    /* height: 25rem; */
    height: fit-content;
    width: 100%;
}

.slide-show-slides {
    width: 100%;
    height: fit-content;
    background-color: var(--card);
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

.image-slide {
    height: 18rem;
    min-height: 18rem;
    max-height: 18rem;
    object-fit: contain;
}

.single-image-description p {
    text-align: center;
}

.single-image-description .social-media {
    width: 100%;
    justify-content: center;
    column-gap: 2rem;
    padding: 0rem 3.5rem;
}

.single-image-description .social-media a:hover {
    color: var(--green);
}

.single-image-description {
    display: flex;
    padding: 2rem 1.5rem;
    background-color: var(--card);
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-end;
}

.categories_displayer {
    width: 100%;
    /* padding: 0rem 1.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    background-color: var(--bgColor);
    padding: 0rem 0rem;
}

.categories_displayer_list_category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.categories_displayer_category {
    padding: .3rem 1rem;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
    white-space: nowrap;
}

#categories_displayer_category_selected {
    background-color: var(--green);
}

.categories_displayer_category:hover {
    background-color: var(--yellowWhite);
    color: var(--green);
}

#categories_displayer_category_selected:hover {
    background-color: var(--green);
    color: var(--card);
    cursor: inherit;
}

.categories_displayer_search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    border: none;
    text-align: center;
}

.categories_displayer_search_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.categories_displayer_search_form input {
    width: 40%;
    border-radius: 1.2rem;
}

.categories_displayer_search_form button {
    width: auto;
    border-radius: 1.2rem;
    background-color: var(--green);
    color: white;
    font-weight: 800;
    padding: 0rem 1rem;
    cursor: pointer;
}

.ct_displayer {
    width: 100%;
    min-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.ct_displayer div {
    width: 100%;
    height: 2rem;
}

.ct_displayer_category {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}


#button_in_loading {
    background-color: var(--subtitleColor);
}

.shimmer {
    background: var(--card);
    background-image: linear-gradient(to right, var(--card) 0%, var(--bgColor) 20%, var(--card) 40%, var(--card) 100%);
    background-repeat: no-repeat;
    background-size: 800px 100%;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: .9s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    animation-duration: .9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    background-color: var(--card);
    border-radius: 1rem;
}


@keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.article_card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.article_card_two {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.article_card_img {
    width: 100%;
    height: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    object-fit: cover;
    background-color: var(--bgColor2);
    overflow: hidden;
}

.article_card_img_two {
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    height: 7rem;
    object-fit: cover;
}

.article_card_info {
    padding: 1rem 0rem;
    overflow: hidden;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}

.article_card_info_two {
    padding: 0rem;
    row-gap: .5rem;
}

.timarticle_card_info_time_view,
.timarticle_card_info_time_view_eye {
    display: flex;
    column-gap: .7rem;
    align-items: flex-start;
}

.timarticle_card_info_time_view p {
    font-size: small;
    color: var(--text);
}

.timarticle_card_info_time_view i {
    font-size: smaller;
}

.timarticle_card_info_time_view_eye {
    column-gap: .2rem;
}

.article_card_info_topic {
    font-weight: 800;
    color: var(--green);
}

.article_card_info_overview {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.articles-displayer,
.more-articles-displayer {
    padding: 1rem 0rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: auto;
    column-gap: 1.5rem;
    row-gap: .3rem;
}

.more-articles-displayer {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    /* grid-auto-rows: 12rem; */
    /* grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    grid-auto-rows:min-content; */
    grid-gap: 2rem;
}

.articles_displayer_shimmer {
    overflow: hidden;
}

.article-details_diplayer {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 0rem;
    padding: 1rem;
}

.art-overview {
    color: var(--subtitleColor);
    font-size: medium;
    font-style: italic;
}

.article_details_part,
.article_details_part_shimmer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0rem 1rem;
    background-color: var(--bgColor2);
    border-radius: .4rem;
}

.article_details_part_top {
    padding: 0rem;
    background-color: var(--cardColor);
    padding: .5rem;
}

.article_details_part_shimmer {
    background-color: var(--cardColor);
}


.article_details_part img {
    height: clamp(15rem, 5.657rem + 30vw, 35rem);
    min-height: clamp(15rem, 5.657rem + 30vw, 35rem);;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    /* border-radius: .4rem; */
}


.article_details_other {
    width: 100%;
}

.onpr_blog_home_shimmer {
    gap: .5rem;
    padding: .5rem;
    height: 100%;
}

.more_text {
    font-weight: 700;
}

.red_separator {
    width: 35%;
    height: .2rem;
    background-color: var(--secPrimaryColor);
    border-radius: .2rem;
}

@media screen and (max-width : 920px) {
    .article-details_diplayer {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 2rem;
    }

    .article_details_part,
    .article_details_part_shimmer {
        padding: 0rem;
    }
}

.divider {
    height: 10px;
    color: var(--text);
    width: 100%;
}

.more-articles-displayer {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;
}

.comments_articles{
    width: 100%;
    background-color: var(--bgColor2);
}


.separator{
    width: 100%;
    height: .01rem;
    background-color: var(--dividerColor);
}

.comments_articles h4{
    color: var(--subtitleColor);
    margin-bottom: .3rem;
}

.comments_articles_comments_list{
    background-color: var(--bgColor2);
    border-radius: .4rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: .6rem;
}

.comments_articles_comment{
    /* border-bottom: .1rem solid var(--dividerColor); */
    padding: .2rem 0rem;
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}

.comments_articles_comment p:nth-child(1){
    font-weight: 900;
}

.comments_articles_comment p span{
    color: var(--secPrimaryColor);
    font-size: larger;
}

.comments_articles_comment p{
    font-size: smaller;
}

.comments_articles_comment_header{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}


.comments_articles_comment_header img{
    height: 2rem;
    min-height: 2rem;
    width: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    background-color: var(--bgColor);
    border: .1rem solid var(--secPrimaryColor);
    display: none;
}

.comments_articles_comment_header p{
    font-weight: 900;
}


#comments_articles_comment_body{
    font-weight: 400;
    font-size: .8rem;
}